*{
  padding: 0;
  margin: 0;
}
#facebook-main{
  display: flex;
/* align-items: center; */
/* justify-content: center; */
}
#navbar-main{
  display: flex;
}
.container-navbar{
  /* border: 2px solid red; */
  margin: 8px 0px;
  border-radius: 18px;
  width: 200px;
  height: 30px;
  background-color: #DADDE1;
  padding: 4px 12px;
}
.searchBar{
  padding: 2px 8px;
  width: 150px;
  height: 30px; 
  border: none;
  background-color: #DADDE1;
}
.searchIcon{
  padding: 2px 4px;
}
.facebook-logo{
  margin: 9px 15px;
}